<!-- 네비게이션바 -->
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom custom-navbar">
  <h1>
    <a href="{% url 'pboard:index' %}" class="navbar-brand ps-5">Board</a>
  </h1>
  <div class="collapse navbar-collapse flex-grow-0 login" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        {% if user.is_authenticated %}
          <a href="{% url 'common:logout' %}" class="nav-link">
            {{ user.username }} (로그아웃)
          </a>
        {% else %}
          <a href="{% url 'common:login' %}" class="nav-link">로그인</a>
        {% endif %}
      </li>
    </ul>
  </div>
</nav>